//     transition: transform 0.2s ease 0s;

img{
  filter: saturate(120%) contrast(1.5);
}

// Pour la salle 2 aussi
.img-saturate{
  filter: saturate(120%);
}

.chandelier-img {
  // top: -181px;
  // right: -23px;
  top: -2px;
  right: 248px;
  filter: brightness(200.5%);
}

.frame101-img {
  top: -331px;
  left: -175px;
  filter: brightness(150%);
}

.frame102-img {
  top: -293px;
  left: 441px;
  height: 116px;
  filter: brightness(150%);
}

.frame103-img {
  top: -204px;
  left: -237px;
  height: 108px;
  filter: brightness(150%);
}

.frame104-img {
  top: -424px;
  left: 451px;
  height: 94px;
  filter: brightness(150%);
}

.frame105-img {
  top: -416px;
  left: 584px;
  height: 130px;
  filter: brightness(150%);
}

.carpet2-img {
  // top: 511px;
  right: -145px;
  bottom: 22px;
  filter: brightness(190.5%);
}

.storage1-img {
  top: 364px;
  right: 679px;
}

.chair1-img {
  // top: 316px;
  // right: -386px;
  bottom: 127px;
  right: -89px;
  height: 197px;
  z-index: 5;
  filter: brightness(120%);
}

.oldwallpaper-img {
  top: 316px;
  right: -386px;
}

.transparent-door {
  opacity: 1;
  position: absolute;
  z-index: 4;
  left: 0;
  transition: 0.3s ease-in-out;

  &:hover{
    cursor: pointer;
    scale: 1.05;
  }
}

.frame {
  transform: translate(-50%, -50%);
  &:nth-child(1) {
    height: 161px;
    top: -316.4px;
    left: -92px;
  }
  &:nth-child(2) {
    top: -500px;
    left: -167px;
    height: 150px;
  }
  &:nth-child(3) {
    top: -237px;
    left: 520px;
    height: 150px;
  }
}

// c'est dans la show lol (pour que le jeux prennent la place maximale de l'écran sans soucie)
.full-height-game-content {
  height: 100vh;
  display: flex;
  justify-content: center;
}
