.chandelier-img {
  top: -11px;
  right: 131px;
}

.frame {
  transform: translate(-50%, -50%);
  &:nth-child(1) {
    top: -70px;
    left: -476px;
  }
  &:nth-child(2) {
    top: 24px;
    left: -259px;
  }
  &:nth-child(3) {
    top: -2px;
    left: 300px;
  }
}


// c'est dans la show lol
.full-height-game-content {
  height: 100vh;
}
