.table-img {
  top: 459px;
  right: 745px;
  filter: brightness(75%);
}

.bureau-img {
  top: 463px;
  right: 235px;
  filter: brightness(40%);
}

.pile-img {
  top: 472px;
  right: 783px;
  filter: brightness(75%);
}

.lustre-img {
  top: 0px;
  right: 500px;
}

.chemine-img {
  top: 88px;
  right: 108px;
}

.bombonne-img {
  top: 477px;
  right: 81px;
  filter: brightness(50%);
}

.bougie-img {
  top: 473px;
  right: 407px;
  filter: brightness(50%);
}

.clef-img {
  top: 505px;
  right: 329px;
  filter: brightness(75%);
}

.clef2-img {
  top: 343px;
  right: 134px;
}

.carpet-img {
  top: 600px;
  right: 292px;
  filter: brightness(75%);
}

.door-img {
  filter: brightness(50%);
}
