
.bureau-img {
  top: 404px;
  right: 627px;
  filter: drop-shadow(69px 38px 23px #000000fe);
}

.bombonne-img {
  top: 446px;
  right: 257px;
}

.bougie-img {
  top: 591px;
  right: 49px;
  z-index: 40;
}

.clef-img {
  top: 477px;
  right: 804px;
  filter: grayscale(100%);
}

.clef2-img {
  top: 400px;
  right: 73px;
  z-index: 30;
  filter: grayscale(10%);
}

.clef3-img {
  top: 702px;
  right: 3px;
  z-index: 50;
}

.carpet-img {
  top: 597px;
  right: 202px;
}

.chemine-img {
  top: 140px;
  right: 55px;
  z-index: 10;
  filter: grayscale(10%);
}

.background-chemine {
  height: 170px;
  width: 217px;
  top: 369px;
  right: 75px;
}

.door-img {

}

.table-img {
  top: 592px;
  right: 887px;
  filter: drop-shadow(15px 51px 16px #000000fe);

}


.pile-img {
  top: 522px;
  right: -37px;
  filter: drop-shadow(15px 51px 16px #000000fe);
  z-index: 30;
}

.pile-img1{
  top: 600px;
  right: 213px;
  filter: drop-shadow(-4px 24px 16px #000000fe);
  z-index: 10;
}

.background-pile {
  top: 651PX;
  right: 259px;
  height: 113px;
  width: 67px;
  background-color: transparent;
}
.background-pile2 {
  top: 681PX;
  right: 233px;
  height: 113px;
  width: 67px;
  background-color: transparent;
}

.lustre-img {
  top: 0px;
  right: 410px;
}

.livre-img {
  top: 604px;
  right: 13px;
  filter: drop-shadow(15px 51px 16px #000000fe);
  z-index: 20;
}
