
.bureau-img {
  top: 363px;
  right: 615px;
  filter: drop-shadow(69px 38px 23px #000000fe) brightness(40%) grayscale(90%);;
}

.bombonne-img {
  top: 425px;
  right: 287px;
  filter: brightness(50%);
}

.bougie-img {
  top: 539px;
  right: 37px;
  filter: brightness(65%);
}

.clef-img {
  top: 424px;
  right: 798px;
  filter: brightness(60%);
}

.clef2-img {
  top: 363px;
  right: 84px;
}

.clef3-img {
  top: 672px;
  right: 53px;
  filter: brightness(60%);
}

.carpet-img {
  top: 520px;
  right: 202px;
  filter: brightness(75%);
}

.chemine-img {
  top: 115px;
  right: 55px;
  filter: drop-shadow(89px 28px 33px #000000fe) brightness(50%);
}

.door-img {
  filter: brightness(50%);
}

.table-img {
  top: 592px;
  right: 887px;
  filter: drop-shadow(15px 51px 16px #000000fe) brightness(50%)grayscale(40%);

}


.pile-img {
    top: 472px;
    right: -47px;
    filter: drop-shadow(15px 51px 16px #000000fe) brightness(54%)grayscale(60%);
}

.pile-img1{
  top: 560px;
  right: 193px;
  filter: drop-shadow(-4px 24px 16px #000000fe) brightness(50%)grayscale(60%);
}

.lustre-img {
  top: 0px;
  right: 410px;
}

.livre-img {
  top: 554px;
  right: 3px;
  filter: drop-shadow(15px 51px 16px #000000fe) brightness(42%)grayscale(60%);
}
