


  <div class="content">
    <div class="glitch">
      <div class="glitch-img"></div>
      <div class="glitch-img"></div>
      <div class="glitch-img"></div>
      <div class="glitch-img"></div>
      <div class="glitch-img"></div>
    </div>
    <h2 class="content-title">Escape ... or not.</h2>
    <p class="content-text">Don't stop looking at the door.</p>
  </div>

<section>
  <div>
    <a><%= link_to "Join a Game Auto ", random_games_path, class: "btn-distorition" %>
    <%= link_to "Search a Game",games_path, class: "btn-distorition" %>
    <%= link_to "Create a Game(ça marche pas)",new_game_path, class: "btn-distorition" %></a>
  </div>
</section>
