<p>Find me in app/views/pages/home.html.erb</p>
<div>
 <h1>J'ai recommencé au bout de 2 heures a cause d'un package parallax oskour</h1>
 <a><%= link_to "Join a Game 😈", join_games_path, class: "btn btn-secondary" %></a>

</div>
