
    <div data-status-switch-advance-path-value="<%= advance_game_path(@game) %>"
      data-game-subscription-target="lobbyFull"
      class="waitpage"
    >
      <h1 class="content-title">You are dead ... </h1>
      <img class="img-deadscreen" src="https://thumbs.gfycat.com/FrayedGratefulKoala-max-1mb.gif" alt="white skull on a black backgound">
      <p>You triggered a trap.</p>
    </div>

<%= link_to "► Try again", root_path, class: "btn-distorition" %>
<%= link_to "► Scoreboard", scoreboard_path, class: "btn-distorition" %>
