<div class='stars'><div class='stars2 stars3'></div></div>
<div class='title'>
  <span>
    Je suis enfin sorti du manoir où mon ami et moi étions bloqués depuis des heures.
    Nous sommes tous les deux épuisés et affamés, mais l'air frais sur notre visage et la vue des
    magnifiques étoiles scintillant dans le ciel nocturne nous apporte un sentiment de soulagement et de joie.
  <br>
  </span>
  <br>
  <span>
    Je ne sais pas ce qui se passait dans le manoir, mais j'étais soulagé d'en être sorti.
    Cette expérience m'a rappelé que parfois, même dans les endroits les plus beaux et les plus calmes,
    quelque chose de dangereux peut se cacher juste sous la surface.
  </span>
</div>
<div><section><%= link_to "► Scoreboard", scoreboard_path, class: "btn-distorition" %></section></div>
