<div> end screen with nice outdoor view, either a sunset or a mountain range in a stary night</div>
<div>or we could maybe troll the player making them believe they got out just to make them despair and spice things</div>
