<%# <div class="noise">
</div> %>
<div class="container">
  <button class="button-green">
    aim
  </button>
</div>

  <div data-controller="status-switch "
    data-status-switch-advance-path-value="<%= advance_game_path(@game) %>"
  >
    <button class="d-none"
      data-game-subscription-target="lever"
      data-action ="click->status-switch#unlock"
    >
      Bien joué tu as gagné la salle 1 ! Mais tu pourras jamais gagner la salle 2 PTDR
    </button>
  </div>
