<div class="container"
     data-controller="totem-switch game-subscription"
     data-game-subscription-game-id-value="<%= @game.id %>">
  <button class="button-blue"  data-totem-switch-target="totem" data-action="click->totem-switch#switch">1 </button>
  <button class="button-red"  data-totem-switch-target="totem" data-action="click->totem-switch#switch">2 </button>
  <button class="button-green"  data-totem-switch-target="totem" data-action="click->totem-switch#switch">3 </button>

   <%# <div>
    <button class="d-none" data-totem-switch-target="lever" data-action="click->totem-switch#unlock" > well done, you won ! </button>
  </div> %>

  <div>
    <button class="d-none" data-totem-switch-target="door"> should link both users to second rooms when they scroll</button>
  </div>
</div>
