<div class="container"
     data-controller="status-switch"
     data-status-switch-advance-path-value="<%= advance_game_path(@game) %>">
  <button class="button-blue"  data-status-switch-target="totem" data-action="click->status-switch#switch">1 </button>
  <button class="button-red"  data-status-switch-target="totem" data-action="click->status-switch#switch">2 </button>
  <button class="button-green"  data-status-switch-target="totem" data-action="click->status-switch#switch">3 </button>

  <div>
    <button
      class="d-none"
      data-status-switch-target="door"
      data-game-subscription-target="door"
      data-action="click->status-switch#openDoor"
    >
      should link both users to second rooms when they scroll
    </button>
  </div>
</div>
