
<div data-controller="door-opening">

  <button type="button" data-action="click->door-opening#grabKey" data-door-opening-good-key-param="true">Grab the key</button>
  <button type="button" data-action="click->door-opening#grabKey" data-door-opening-good-key-param="false">Grab the key</button>
  <button type="button" data-action="click->door-opening#grabKey" data-door-opening-good-key-param="false">Grab the key</button>

  <button type = "button" data-action="click->door-opening#open">Try to open the door</button>

</div>
