
<div class="wait-background">


  <div class="scroller">
    <div class="content">
      <div class="description">
        Bienvenue chers invités ! <br/>
        Pris d'un ennui que seule une course pour la survie ne saurait étanchée, je vous ai ammené ici.<br/>
        Faîtes preuve de perspicacité et logique pour découvrir les indices cachés dans les pièces afin de vous échapper.<br/>
        Mais attention, chaque erreur vous rapprochera d'une fin tragique.<br/>
        <strong> Bonne chance</strong>
      </div>
    </div>
  </div>



  <div class = "start-click"
    data-controller="status-switch"
    data-status-switch-advance-path-value="<%= advance_game_path(@game) %>"
    data-status-switch-target="waitingRoom"
    data-action="click->status-switch#startGame"
  >
    <%= simple_form_for @game do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'level1' } %>
      <button type="submit" class="btn-distorition"> ► start game </button>
    <% end %>
  </div>

</div>
