
<div class="content smt"
  data-action="mousemove->mooving-effect-object#moovingEffect"
  data-controller="mooving-effect-object"
>
  <div class="glitch">
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
  </div>

    <h1 class = "title" style="left: -65vw;">Liste des sessions</h1>
  <div class="games_list">
    <ol class = "listing">
      <% @games.each do |game| %>
        <li>
          <span>
            <%= link_to game.name, join_game_path(game) %>
          </span>
        </li>
      <% end %>
    </ol>
  </div>

  <section data-controller="status-switch" >
    <%= link_to "► Rejoindre une salle (Auto)", random_games_path, class: "btn-distorition" %>
    <%= link_to "► Chercher une salle",games_path, class: "btn-distorition" %>
    <%= link_to "► Créer une salle",new_game_path, class: "btn-distorition" %>
  </section>

</div>
