
<% if @game_ready %>
  <h1>Ca part frere</h1>

<% if current_user === @game.first_user %>
<%= render "room_one_user_one" %>
<% elsif current_user === @game.second_user %>
<%= render "room_one_user_two" %>
<% end %>
<% else %>
  <h1>Ca part pas frere</h1>
<% end %>
