.button-green {
  width: 40px;
  height: 25px;
  margin: 0 auto;
  background-color: rgb(2, 139, 80);
  padding: 0;
}

.button-blue {
  width: 40px;
  height: 25px;
  margin: 0 auto;
  background-color: rgb(2, 73, 139);
  padding: 0;
}

.button-red {
  width: 40px;
  height: 25px;
  margin: 0 auto;
  background-color: rgb(139, 36, 2);
  padding: 0;
}
