.marble-floor{
  background-image: image-url("marble-floor.jpg");
  background-size: cover;
  width: 101vw;
  height: 29vh;
  position: fixed;
  bottom: 0;
  left: 0vw;
}
  // transform:perspective(30px) rotateX(5deg);
