.frames {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}

.frame1{
  height: 190px;
  width: 200px;
  position: relative;
  &::after {
    content: "";
    background-image: url("cadre1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
  & button {
    width: 54%;
    height: 66%;
  }
}

.frame2{
  height: 190px;
  width: 200px;
  position: relative;
  &::after {
    content: "";
    background-image: url("cadre2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
  & button {
    width: 40%;
    height: 65%;
  }
}

.frame3{
  height: 175px;
  width: 200px;
  position: relative;
  &::after {
    content: "";
    background-image: url("cadre3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
  & button {
    width: 45%;
    height: 80%;
  }
}
