.hidden-object {
  opacity: 0.1;
}

@mixin fadeInDeOuf($time, $translate) {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: #{$translate};
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  animation: fadeIn #{$time} ease-in-out;
}

.fade-in-object-n { @include fadeInDeOuf(2s, translate(0, -280px)) }
