.modal.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
  .modal-dialog {
    max-width: unset !important;
    margin-right: unset !important;
    margin-left: unset !important;
    .modal-content {
      height: 80vh;
      width: 60vw;
      color: black;
      background-image: url("old_paper2.png");
      background-position: center;
      background-size: cover;
      background-color: transparent;
      p {
        margin-top: 60px;
        margin-bottom: 1rem;
        font-style: italic;
        font-size: 27px;
        /* padding: 54px; */
        width: 550PX;
        font-size-adjust: 2.00;
        font-weight:bolder;
      }
    }
  }
}

.img-in-modal{
  max-height: 400px;
  max-width: 330px;
  object-fit: contain;
  filter: drop-shadow(-4px 24px 16px #000000fe);
}
