.waitpage {
  border-color: white;
  border-radius: 5px;
  margin: 0 auto;
  /* width: 100px; */
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waitpage h1{
  font-size: 70px;
  text-align: center;
}

.waitpage p{
  font-size: 50px;
  text-align: center;
}

.waitpage img{
  text-align:center;
  width: 10%;
}


.games_list {

  position: relative;
  z-index: 2;

  a{
    text-decoration: none;
  }

  a:hover{
    color: white;
  }

  .h1{
    margin: 0;
  }

  li {
    margin: 0;
    padding: 4px 8px;
  }

  li:hover{
    transform: scale(1,1.05);
    text-shadow: 1px 1px 1px rgba(223, 220, 220, 0.448), 0 0 1em rgba(137, 137, 154, 0.323), 0 0 0.2em rgba(146, 146, 169, 0.471);
  }

  .title{
    width: 20vw;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
  }

  .listing{
    width: 80vw;
    min-width: 50px;
    margin: 0 auto;
    padding: 30px 40px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 2px 20px whitesmoke;
    font-size: 1.3em;

  }
}

.wait-background {
  // radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
  background-image:
    linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.5)),
    image-url("smoky_background.jpg");
  background-size: cover;
  height: 100vh;
}

.start-click{
  position: absolute;
  bottom: 10vh;
  left: 42vw;
}

.scroller{
  position: absolute;
  width: 65vw;
  min-width: 100px;
  max-width: 900px;
  height: 50vh;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 2.1em;
  line-height: 2;
  left: calc(50vw - 32.5vw);
  top:  calc(50vh - 35vh);;
  padding: 40px 60px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 1px 2px 30px whitesmoke;


  .content {
    position: relative;
    top: -295%;
    animation: 15s linear 0s scroll;
  }

  strong{
    font-size: 1.2em;
    line-height: 1.5;
  }

  @keyframes scroll {
    0%{
        top: 50vh;
    }
    100%{
        top: -295%;
    }
  }
}
