.mininavbarre {
  // height:70px;
  // opacity: 50%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 100;
  // margin: 30px;
  padding: 10px;
  & li {
    list-style: none;
  }
}
